.navbar-toggler{
  background-color:white !important;
  width: 30px !important;
  height: 30px !important;
  padding:0 !important;
  border-radius: 100px !important;
}

.sidenavbar .container{
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  width:100% !important;
}

.sidenavbar .arrow{
  display: block !important;
  margin-right:-10px !important;
}
.navbar-toggler-icon{
  width: 1em !important;
}

.header .navbar-text {
  color:white  !important;
}
.MenuHead {
  font-size: 150%;
  font-weight: bold;
}

 .main {
  width:90% ;
  align-items:stretch;
  /* height: 500px;
  overflow-y: auto; */
}

/* footer */

.footer {
  border-bottom: none;
  box-shadow: 1px 3px 0 1px #CCCCCC;
  position: fixed  !important;
  z-index: initial !important;
  background: white;
  padding: 0 !important;
}

/* side bar */
.sidenavbar {
  height: 100% !important;
  width: 20% !important;;
  position: fixed !important; 
  z-index: 1 !important;
  top: 10 !important; 
  left: 0 !important;
  background-color:darkslategray !important;
  padding-top: 2% !important;
  padding-left: .5rem;
  border-bottom :none !important;
}

#basic-navbar-nav{
width: 100%;
}

#basic-navbar-nav .mx-auto{
  margin-right:0 !important;
}
.opensidenavbar {
  display: block !important;
  height: 100% !important;
  width: 20% !important;;
  position: fixed !important; 
  z-index: 1 !important;
  top: 10 !important; 
  left: 0 !important;
  background-color:darkslategray !important;
  padding-top: 1% !important;
  transition: width 1s;
  padding-right: .5rem;
}


/*on close*/
.closesidenavbar {
  /* display: none  !important; */
  width: 3% !important;
  display: block !important;
  transition: width 1s;
}

.MenuLink{
  display:none;
  }

.activeMenuLink{
  display:block;
}

/* end side bar */

.openmain {
  margin-left: 20% !important;
  width:80% ;
  
}


/* Page footer */
.openfooter {
  margin-left:20% !important;
}

 .closemain {
  width:95% ;
  margin-left: 4% !important;
}

.closefooter .container {
  margin-left: 5% !important;
  max-width: 100%;
}

/* Style the sidenavbar links and the dropdown button */
.sidenavbar a,.sidenavbar .nav-link, .sidenavbar .dropdown-btn {
  /* padding: 6px 8px 6px 16px !important; */
  text-decoration: none !important;
  /* font-size: 20px !important; */
  color: white !important;
  display: block !important;
  border: none !important;
  background: none !important;
  width: 100% !important;
  text-align: left !important;
  cursor: pointer !important;
  outline: none !important;
  padding-left:0 !important;
  padding-right:.5rem !important;
  /* border-bottom: 0.5px solid #dee2e6 !important; */
  
  /* padding-left: 0.5em; */
  /* padding-left: 2% !important; */
}

/* On mouse-over */
.sidenavbar a:hover, .sidenavbar .nav-link:hover, .sidenavbar .dropdown-btn:hover {
  background-color:darkcyan  !important ;
}


/* Add an active class to the active dropdown button */
.sidenavbar .active {
  background-color:darkcyan  !important ;
  color: white !important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.menu {
  /* background-color: #262626 !important ; */
  padding-left: 6% !important ;
  background-color: #486464;
}


/* Header */
.header {
  background: #d02871;
  z-index: 1000;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  height:60px;
}
.header .container{
  /* width: 100% !important; */
  max-width: 100%;
}



.wrapper {
  background: #f0f2f5;
  height: 100vh;
}
/*header end*/

.product {
  width:200px;
  /* height:10%; */
}

.loginLogo {
  /* width:200px; */
  width: 100%;
  /* height:10%; */
}

.background{
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width:991px){

  .sidenavbar .arrow{
    display:none !important;
  }

  .header .navbar-toggler{
    display:block !important;
  }
  .opensidenavbar {
    max-width:100% !important;
    width:100%;
    /* position: relative !important; */
    padding-left: 2%;
    display:block !important;
    height: auto !important;
    width:100% !important;
    opacity: 1 !important;
    transition: height 1s, opacity 1s;
  }
  
  .sidenavbar .container{
    padding-left: 0;
    width:100% !important;
    padding-top: 0 !important;
  }
  .closesidenavbar {
    display:none !important;
    opacity: 0 !important;
    height:0 !important;
    transition: height 1s, opacity 1s;
  }
  
  .navbar-toggler-icon {
    color: white !important;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem !important;
  }
  .header .container{
    /* navbar-toggler */
    margin-left: 0 !important;
  }

  .sidenavbar a,.sidenavbar .nav-link, .sidenavbar .dropdown-btn {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  .footer {
    margin-left: 0 !important;
    width: 100%;
    position: relative  !important;
  }
  .UserLogin{
    display:none;
  }
  .login-background{
    display:none;
  }

  .Login{
    bottom: 60% !important;
  }
  .wrapper {
    height:100% !important;
  }
  
}


.navToggler {
  position: absolute;
  border: none;
  /* top: 15px; */
  right: 1px;
  transform: translateY(-50%) rotate(180deg);
  /* height: 25px; */
  /* width: 25px; */
  background-color: #7593af;
   /* #6ac941; */
  /* border-radius: 50%; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}


.closesidenavbar .navToggler {

  transform: translateY(-50%) rotate(0deg);

}

.spinner{
  position: absolute;
  width: 5rem !important;
  height: 5rem !important;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 1000;
}
.sub-main:has( .spinner) .insideTable{
  /* background-color: #fff; */
  opacity: 0.5;
}


.Login{
  position: absolute;
  margin: auto; 
  max-width: 400px !important;
  max-height: 300px !important;
  background: white;
  left:0;
  right:0 ;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  padding: 2%;
 
}
.Login button{
  /* width: 250px; */
  width:100%;
}

.Login .col{
  padding-left: 2%;
  
}

.login-container ,.login-background{
max-width: 100% !important;
width: 100% !important;
padding: 0;
height: 100vh;
}

.SignInBtn{
  max-height: 20px;
  /* width:100%;
  max-width: 10px;
  max-height: 40px;
  padding: 0; */
}
.table-responsive,
.insideTable {
  max-height: 250px;
  overflow-x: auto;
  overflow-y: auto;
  border-bottom: 1px;
}

.wrap-text {
  max-width: 300px;
  overflow-wrap: break-word;
  /* word-break: break-all; 
   word-wrap:break-word; */
}
.add-div{
  overflow-x: auto;
  overflow-y: auto;
}

.add-button {
  float: right;
  margin-bottom: 10px;
}

.LogbookForm {
  box-sizing: border-box;
  text-align: left;
  font-weight: 600;
  height: 400px;
  overflow-y: auto;
  padding: 0 2% 0 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.insideForm.container {
  max-width: 100% !important;
}

.insideForm {
  padding: 2% 2% 2% 2%;
  width: 100%;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

.FormButtons {
  display: flex;
  justify-content: center;
}

.FeedbackLabel {
  font-weight: 700;
  font-size: 25;
}

.modal-lg {
  width: 50%
}

@media screen and (max-width:991px) {
  .LogbookForm {
    height: 100% !important;
  }

  .table-responsive,
  .insideTable {
    max-height: 100% !important;
  }
}

@media (max-width: 768px) {
  .modal-lg {
    /* max-width: 600px; */
    width: 95%;
  }
}

.AngledArrow {
  float: right;
  size: 32;
}

.cardSpacing {
  margin: 3px;
}

.progress-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.download-button {
  position: relative;
  width: 150px;
  border-radius: 25px;
  border: 0;
  padding: 10px 40px;
  font-family: 'Lobster';
  font-size: 21px;
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
  transition: width .9s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0px 5px 10px rgba(33, 33, 33, .25), inset 0 5px 10px rgba(33, 33, 33, .25);
}

.button-text {
  display: inline-block;
  opacity: 1;
  color: #252535;
  transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.loading-text,
.percentage {
  display: block;
  color: #70C542;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.bdr-radius {
  border-radius: 25px;
  /* background-color: #4b4b4b; */
}


/* .welder-modal{
  width: 70%;
  margin-right: 45%;
} */

.welder-modal-content {
  background-color: #eecccc;
  width: 85%;
  margin: auto;
}

.welder-modal-header {
  background-color: #760000;
  color: white;
  padding: 0.5rem 0.5rem;
}

.welder_ndt-modal-title {
  font-size: large;
  margin-left: auto;
}

/* .ndt-modal{
  width: 70%;
  margin-left: 35%;
} */

.ndt-modal-content {
  background-color: #cceecc;
  width: 85%;
  margin: auto;
}

.ndt-modal-header {
  background-color: #016901dc;
  color: white;
  padding: 0.5rem 0.5rem;
}

.spaced-content {
  display: flex;
  justify-content: space-between;
}

.centered-text {
  text-align: center;
}

.required label:before {
  color: #e32;
  content: ' * ';
  display: inline;
}

.bread-crumb {
  font-weight: bold;
  font-size: larger;
}

.sub-main{
  background: white;
  padding: 30px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: darkcyan;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: darkcyan;
}

thead{
  position: sticky;
  top: 0;
  color: white;
  background: cadetblue;
  white-space: nowrap;
}
tbody{
  white-space: nowrap;
}
.error-box{
  position: absolute;
  margin: auto; 
  max-width: 400px !important;
  max-height: 200px !important;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  left:0;
  right:0 ;
  top: 0;
  bottom: 30%;
  border-radius: 1rem;
  padding: 2% !important;
 
}

/* React-Select start */
.css-1xc3v61-indicatorContainer, .select__input-container.css-qbdosj-Input, .css-15lsz6c-indicatorContainer{
  padding-top : 0 !important;
  padding-bottom : 0 !important;
  font-size: .875rem !important; 
   font-weight: 400 !important;
  /* color: #212529 !important; */
  color: black !important;
}



.select__control.css-13cymwt-control,.css-t3ipsp-control{
  min-height: 0 !important;
  border: 1px solid #ced4da !important;
  color: #212529 !important;
  border-radius: 0.2rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
}
.css-t3ipsp-control{
  box-shadow: 0 0 1px 4px #C2DBFE !important;
  border-color: #86B7FE !important;
}

.css-tj5bde-Svg{
  fill: black !important;
  stroke: #ffffff !important;
  stroke-width: 1 !important;
}
.css-1u9des2-indicatorSeparator{
  display: none;
}

.css-1nmdiq5-menu{
  font-weight: 200 !important;
}

/*react select end*/

/* REPORT BUTTON */
.report-btn{
  align-self: end;
}

.hidden-field-required {
  opacity: 0;
  height: 0;
  position: absolute;
  width: 100%;
}
.download-btn{
  align-items: flex-end;
  align-self: end;
}

.plant{
  height: 100%;
}